<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/styleV.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
	
	<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
</head>
<body>
	<div class="row mt-2" style="margin-left: 20px; margin-top: 20px;">
		<img alt="" th:src="@{/imagenes/logo.jpg}" style="width: 100px">
	</div>
	<div class="container">
		

		

		<h1>Referencias Citadas</h1>

	<table class="table col-md-4">
        <tbody><tr>
            <td>Fecha Inicio</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Fecha Fin</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
    	</tbody></table>

		<table id="table_id" class="table table-striped display">
			<thead>
				<tr>
					<th class="" style="text-align: center;"><a style="text-decoration: none;" th:href="@{/listarRefPendientes}" class="">PENDIENTES</a></th>
					<th class="" style="text-align: center;"><a style="text-decoration: none;" th:href="@{/refEnviadas}" class="text">ENVIADAS</a></th>
					<th class="" style="text-align: center;"><a style="text-decoration: none;" th:href="@{/refObservadas}" class="text">OBSERVADAS</a></th>
					<th class="bg-info" style="text-align: center;"><a style="text-decoration: none;" th:href="@{/refCitadas}" class="text-white">CITADAS</a></th>
				</tr>
				<tr>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col" style="display: none;">Fecha</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="c: ${refCitadas}">
					<td th:text="${c.dniPaciente}"></td>
					<td th:text="${c.especialidadDestino.nombre}"></td>
					<td th:text="${c.Establecimientodestino.nombre}"></td>
					<td style="display: none;" th:text="${c.fecha}"></td>
					<td><a style="margin-right: 10px" href="#" class="btn btn-success btn-xs">Ver</a>
						<a style="margin-right: 10px"  th:href="@{/detalleRefCitada/{id} (id=${c.id})}" class="btn btn-success btn-xs">Detalles</a>
						
				</tr>
			</tbody>
		</table>
		<div>
			<a class="btn btn-primary btn-sm my-3" th:href="@{/menuInterno}">REGRESAR</a>
		</div>
	</div>

	<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/funciones.js}"></script>
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>






	<script type="text/javascript">
		$(document).ready(function () {
			$('#table_id').DataTable();
		});
		$
			.extend(
				true,
				$.fn.dataTable.defaults,
				{
					"language": {
						"decimal": ",",
						"thousands": ".",
						"info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
						"infoPostFix": "",
						"infoFiltered": "(filtrado de un total de _MAX_ registros)",
						"loadingRecords": "Cargando...",
						"lengthMenu": "Mostrar _MENU_ registros",
						"paginate": {
							"first": "Primero",
							"last": "Último",
							"next": "Siguiente",
							"previous": "Anterior"
						},
						"processing": "Procesando...",
						"search": "Buscar:",
						"searchPlaceholder": "DNI",
						"zeroRecords": "No se encontraron resultados",
						"emptyTable": "Ningún dato disponible en esta tabla",
						"aria": {
							"sortAscending": ": Activar para ordenar la columna de manera ascendente",
							"sortDescending": ": Activar para ordenar la columna de manera descendente"
						},
						//only works for built-in buttons, not for custom buttons
						"buttons": {
							"create": "Nuevo",
							"edit": "Cambiar",
							"remove": "Borrar",
							"copy": "Copiar",
							"csv": "fichero CSV",
							"excel": "tabla Excel",
							"pdf": "documento PDF",
							"print": "Imprimir",
							"colvis": "Visibilidad columnas",
							"collection": "Colección",
							"upload": "Seleccione fichero...."
						},
						"select": {
							"rows": {
								_: '%d filas seleccionadas',
								0: 'clic fila para seleccionar',
								1: 'una fila seleccionada'
							}
						}
					}
				});	
	</script>
	
	
	<script type="text/javascript">

			var minDate, maxDate;
			 
			// Custom filtering function which will search data in column four between two values
			$.fn.dataTable.ext.search.push(
			    function( settings, data, dataIndex ) {
			        var min = minDate.val();
			        var max = maxDate.val();
			        var date = new Date( data[6] );
			 
			        if (
			            ( min === null && max === null ) ||
			            ( min === null && date <= max ) ||
			            ( min <= date   && max === null ) ||
			            ( min <= date   && date <= max )
			        ) {
			            return true;
			        }
			        return false;
			    }
			);
			 
			$(document).ready(function() {
			    // Create date inputs
			    minDate = new DateTime($('#min'), {
			        format: 'MMMM Do YYYY'
			    });
			    maxDate = new DateTime($('#max'), {
			        format: 'MMMM Do YYYY'
			    });
			 
			    // DataTables initialisation
			    var table = $('#table_id').DataTable();
			 
			    // Refilter the table
			    $('#min, #max').on('change', function () {
			        table.draw();
			    });
			});
			
		</script>
</body>
</html>